/* Style Sheet */

#board-container {
	width: 500px;
	height: 500px;
}

/*cells*/
.cell {
	float: left;
	width: 33.33%;
	height: 33.33%;
	margin: 0;
	background-color: #666;
}

/*Game Pieces*/
.x, .o {
	background-position: center;
	background-repeat: no-repeat;
}

.x {
	background-image: url('img/x-piece.svg');
	background-size: 70%;
}

.o {
	background-image: url('img/o-piece.svg');
	background-size: 70%;
}
